@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&display=swap')

body{
	font-family: 'Montserrat', sans-serif;
}


nav ul{
	list-style-type: none;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color: purple;
}
nav a:visted{
	color: pink;
}
nav a:hover{
	color: #E4E6EB;
}
nav a:active{
	color: black;
}
@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
	}
}


@media only screen and (max-width: 768em){
	h1{
		font-size: 2em;
	}
}
h1{
	text-align: center;
}
nav{
	background-color: #18191A;
	border-top: 2px solid #242526;
	border-bottom: 2px solid #242526;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	background-color: white;

}
nav ul{
	list-style-type: none;
	text-align: center;
}
main{
	max-width: 1000px;
	margin: 20px auto;
	

}
footer{
	text-align: center;

}

h2{
	color: black;
	font-weight: bold;
	}
footer{
	text-align: center;
	border-top: 1px solid gray;
	padding: 10px;
}
table{
	border-collapse: collapse;
}
td, th{
	border: 1px solid blue;
	padding: 5px;
}
th{
	background-color: blue;
	color: white;
}
label{
	float: left;
	width: 8em;
	padding-right: 1em;
}
input, textarea{
	margin-bottom: 1em;
	display: block;
}
input[type=submit]{
	display: block;
	background-color: lightgray;
}
p{
	color: black;
	text-decoration: none;
}
h3{
	font-weight: bold;
	color: black;
	text-decoration: none;
	
}
.tiger{
	float: left;
	height: auto;
	max-width: 30%;
	border: none;
}
canvas {
    border:1px solid #000000;
    background-color: #36454F;
}
nav ul{
	margin: 10px ;
}
.logo{
	display: block;
	margin: 0 auto;
}
.icon{
	font-size: 50px;
	


}
div{
	display: block;
}

/* JavaScript Game changes for mobile */
.mobile{
	display:none;
}
@media only screen and (max-width: 768px){
	.desktop{
		display:none;
	}
	.mobile{
		display: block;
		touch-action: manipulation;
	}
}





footer{
	
	background-color: #18191A;
	text-decoration-color: blue;
	


}
h4{
	color: #006ee6;
}
small{
	color: #006ee6;

}
